/* TODO: Get on a css preprocessor (Sass, Less), though this site shouldn't really need much overall. */

.bgImg {
    background-position: center;
    background-repeat: no-repeat;
}

html {
    height: 100%;
    width: 100%;
}
body {
    background-image: url("../Assets/OverworldBlurredTinted.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg_Paper512 { background-image: url("../Assets/GUI/texture_Paper.png"); }

.bg_Button285x60 {
    background-image: url("../Assets/GUI/bg_Button285x60.png");
    width: 285px;
    height: 60px;
    padding: 10px;
}

.bg_Button285x60 > input[type="button"] {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 18pt;
    text-align: center;
}

.bg_Button285x60.disabled {
    opacity: 0.66;
    cursor: default;
    pointer-events: none;
}

.bg_Button80 {
    background-image: url("../Assets/GUI/bg_Button80.png");
    color: white;
    height: 80px;
    width: 80px;
    padding: 5px;
}

.bg_Panel42 { 
    background-image: url("../Assets/GUI/bg_Panel42.png");
    color: white;
    height: 42px;
    width: 42px;
    padding: 5px;
}

.frame_Wood250x50 {
    background-image: url("../Assets/GUI/frame_Wood_250x50.png");
    width: 250px;
    height: 50px;
    padding: 10px;
}

.frame_Wood250x50 > input[type="text"] {
    border: none;
    background-color: transparent;
    height: 25px;
    width: 200px;
    color: black;
    font-size: 18pt;
    text-align: center;    
}
.frame_Wood250x50 > input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.66);
    font-size: 18pt;
}

.frame_Wood205x38 {
    background-image: url("../Assets/GUI/frame_Wood_205x38.png");
    width: 205px;
    height: 38px;
    padding: 5px;
}

.frame_Wood205x38 > input[type="text"], .frame_Wood205x38 > input[type="password"]{
    border: none;
    background-color: transparent;
    height: 20px;
    width: 175px;
    color: black;
    font-size: 12pt;
    text-align: center;    
}
.frame_Wood205x38 > input[type="text"]::placeholder, .frame_Wood205x38 > input[type="password"]::placeholder {
    color: rgba(0, 0, 0, 0.66);
    font-size: 12pt;
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    background-image: url("../Assets/GUI/checkboxUnchecked_20Square.png");
}
input[type="checkbox"]:checked + label {
    width: 30px;
    height: 30px;
    background-image: url("../Assets/GUI/checkboxChecked_30Square.png");
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 205px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 30px;
    margin-top: -5px;
    background-image: url("../Assets/GUI/slider_Nub18x30.png");
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 30px;
    margin-top: -5px;
    background-image: url("../Assets/GUI/slider_Nub18x30.png");
    cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 205px;
    height: 15px;
    background-image: url("../Assets/GUI/slider_Bar205x15.png");
    cursor: pointer;
}
input[type="range"]::-moz-range-track {
    width: 205px;
    height: 15px;
    background-image: url("../Assets/GUI/slider_Bar205x15.png");
    cursor: pointer;
}







.bg_LightGrey {
    background-color: rgba(200, 200, 200, 0.5)
}

.colBySuccess {
    color: darkred;
}
.colBySuccess.success {
    color: darkgreen;
}

body {
    font-family: cursive;
    font-size: large;
}

.forceFont {
    font-family: cursive !important;
    font-size: large !important;
}

button, input[type="button"] {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    outline: none;
}


.centered {
    display: block;
    margin: 0 auto;
}

div, fieldset {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
h4 {
    margin: 10px 0;
}

.centered {
    text-align: center;
    margin: 0 auto;
}

.centredBlock {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad20 {
    padding: 20px;
}

.margTop5 {
    margin-top: 5px;
}

.margTop10 {
    margin-top: 10px;
}

.margTop25 {
    margin-top: 25px;
}

.margLeft10 {
    margin-left: 10px;
}

.flexFlowRight {
    display: flex;
    flex-flow: row nowrap;
}

.flexFlowRightTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: top;
}

.flexFlowRightCentre {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flexFlowDownLeft {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: flex-start;
}

.flexFlowDownCentre {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;
}

#OptionsMenuTabs {
    flex-grow: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabButton.active {
    background-color: rgba(0, 127, 255, 0.5);
}

.optionPanel {
    display: none;
    flex-grow: 1;
}
.optionPanel.active {
    display: block;
}

#FullGameContainer {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 960px;
    height: 600px;

    position: relative;
    
    margin: 50px auto 0px auto;
    border: 5px solid darkorchid;

    /*Start off not displaying*/
    display: none;
    z-index: -1;

    box-shadow: 3px 3px 5px 0 black;
}

#GameMessageBox {
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: rgba(200, 200, 200, 0.66);
    padding: 2px 5px;
    border: 1px solid rgba(200, 200, 200, 0.66);
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.66);
    opacity: 0;
    transition: all 0.5s ease-out;
}
#GameMessageBox.fadeIn {
    opacity: 1;
}

#ChatLog {
    position: absolute;
    bottom: 40px;
    z-index: 1;
    padding: 5px 10px;
    width: 940px; /* Compensate for padding */
    height: 200px;
    background-color: rgba(255, 255, 255, 0.15);
    color: black;
    overflow-y: scroll;
}

.chatLogName {
    font-size: small;
    font-weight: bold;
    color: blue;
}
.chatLogNameSelf {
    font-size: small;
    font-weight: bold;
    color: red;
}

#CanvasContainer {
    position: absolute;
    width: 960px;
    height: 560px;
}

canvas {
    position: absolute;
    width: 960px;
    height: 560px;
}

#InGameBarMenu {
    position:absolute;
    bottom: 0;
    height: 40px;
    display: block;
    width: 100%;
    text-align: center;
    background-image: url("../Assets/GUI/texture_Paper.png");
}

#InGameBarMenu > * {
    position: relative;
    display: inline;
    margin: 5px auto;
    vertical-align: middle;
}

.menuPanel {
    width: 512px;
    height: 512px;
    padding: 15px;
    box-shadow: 3px 3px 10px 0 black;
}

.flexCentreChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

#OptionsMenu {

    display: block;
    text-align: center;
    padding: 25px;

    /*Start off not displaying*/
    display:none;
}

/*
.newOptionsMenuStyles {
    position:absolute;
    margin: auto;
    top: 50%;
    transform: translate(0, -50%);
}
*/

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #2d1803;
}


#CloseOptionsBtn {
    cursor: pointer;
    position:absolute;
    top:0;
    right:0;
    padding: 0;
    margin: 5px;
}
#CloseOptionsBtn:hover {
    color: white;
    background-color: black;
}

.deadCentreOfScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hide {
    display: none;
}

#SaveSlotMessage {
    min-height: 1.25em;
    line-height: 1.25;
}